/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Goldman:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Goldman:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Science+Gothic:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic styles*/
    color:#3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    letter-spacing: 4px;
    list-style-type: none;
    font-size: 110%;
}

#menu > li {
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 01rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none; /* Hide the menu by default */
    top: 100%; /* Position below the header */
}

/* Navbar toggle button styles */
#nav-toggle:checked~ nav {
    display: block; /* Show the menu when the checkbox is checked */
}

#nav-toggle {
    display: none; /* Hide the checkbox */
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Ensure the main content takes up remaining space */
    flex: 1 0 auto;
    margin-top: 47px; /* Adjust based on header height */
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background-color: lightgreen;
}

/* Footer */
#social-networks {
    text-align: center;
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    list-style-type: none;   
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media Queries for responsiveness tablets and laptops 768px and above */
@media screen and (min-width: 768px) {
/* Header */
    nav {
        display: block; /* Show the menu by default on larger screens */
        position: relative; /* Reset position for larger screens */
        box-shadow: none; /* Remove shadow on larger screens */
        width: fit-content; /* Adjust width for larger screens */
        padding-right: 1rem; /* Add padding to the right for larger screens */
        }
    #menu {
        display: flex; /* Display menu items in a row */
    }

    #menu > li {
        padding-left: 1rem; /* Add padding between menu items */
    }

    .nav-toggle-label {
        display: none; /* Hide the toggle button on larger screens */
    }
}